<div class="section" id="skill">
  <div class="container">
    <div class="h4 text-center mb-4 title">Skills</div>
    <div class="h6 mb-4 title">Front-End</div>
    <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">

      <div class="card-body">
        <div class="row row-pb-md">
          <div style="display: block">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4" *ngFor="let skill of frontEndSkills">
            <div class="progress-container progress-primary">
              <span class="progress-badge">{{skill.name}}</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10"
                  data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                  [ngStyle]="{'width': skill.score, 'background': skill.color}"></div>
                <!-- <span class="progress-value">{{skill.score}}</span> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="h6 mb-4 title">Back-End / Server / Database</div>
    <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <div class="card-body">
        <div class="row row-pb-md">
          <div style="display: block">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4" *ngFor="let skill of backEndSkills">
            <div class="progress-container progress-primary">
              <span class="progress-badge">{{skill.name}}</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10"
                  data-aos-duration="200" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" [ngClass]="{'orange': true}"
                  [ngStyle]="{'width': skill.score, 'background': skill.color}"></div>
                <!-- <span class="progress-value">{{skill.score}}</span> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="h6 mb-4 title">Cloud & Others </div>
    <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <div class="card-body">
        <div class="row row-pb-md">
          <div style="display: block">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4" *ngFor="let skill of cloudSkills">
            <div class="progress-container progress-primary">
              <span class="progress-badge">{{skill.name}}</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10"
                  data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                  [ngStyle]="{'width': skill.score, 'background': skill.color}"></div>
                <!-- <span class="progress-value">{{skill.score}}</span> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>