<div class="section" id="about">
    <div class="container">
      <div class="card" data-aos="fade-up" data-aos-offset="10">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">About</div>
              <p>Hi I'm <strong>Aagam Doshi</strong>  .Currently I am Full Stack .Net Developer and also have expertise with Angular6/7, Azure, .Net MVC and front end.
                Done few live projects and portfolio work in the above technologies.</p>
              <p>
                Extremely passionate about learning new technologies. Face problems with a smile and solve them as soon as possible. 
                Very calculated about the time I spend and work I do.
              </p> 
                
          
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">Basic Information</div>
              <div class="row">
                <div class="col-sm-4">
                  <strong>Date of Birth</strong>
                </div>
                <div class="col-sm-8">July 30, 1994</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong>Email</strong>
                </div>
                <div class="col-sm-8">aagamdoshi30794@gmail.com</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong>Phone</strong>
                </div>
                <div class="col-sm-8">+91 9076251877</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong>Address</strong>
                </div>
                <div class="col-sm-8">Mumbai, India
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong>Language</strong>
                </div>
                <div class="col-sm-8"> English, Hindi, French(Beginner)</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>