<div class="section" id="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto">
          <div class="h4 text-center mb-4 title">Technical Community Events</div>
          <div class="nav-align-center">
            <ul class="nav nav-pills nav-pills-primary" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#web-development" role="tablist">
                  <i class="fa fa-laptop" aria-hidden="true"></i>
                </a>
              </li>
              
            </ul>
          </div>
        </div>
      </div>
      <div class="tab-content gallery mt-5">
        <div class="tab-pane active" id="web-development">
          <div class="ml-auto mr-auto">
            <div class="row">
              <div class="col-md-6">
                <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <a href="https://github.com/aagamdoshi/Pesto-X/blob/master/gcpme.png">
                    <figure class="cc-effect">
                      <!-- <img src="assets/images/portfolio1.PNG" alt="Image" /> -->
                      <img src="assets/images/GCP.jpeg" alt="Image" />
                      <figcaption>
                        <div class="h4">Google Cloud Community Day</div>
                        <p>Anthos, Istio, Elastic Stack, Service Mesh</p>
                      </figcaption>
                    </figure>
                  </a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <a href="https://github.com/aagamdoshi/Pesto-X/blob/master/igniteme.png">
                    <figure class="cc-effect">
                      <img src="assets/images/Ignite.jpg" alt="Image" />
                      <figcaption>
                        <div class="h4">Microsoft Ignite Tour</div>
                        <p>Azure Kubernetes, Azure Storage, Services, Azure Web Development, Chat-bots</p>
                      </figcaption>
                    </figure>
                  </a>
                </div>
              </div>

              <div class="col-md-6">
                <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <!-- <a href="http://msgc320.pythonanywhere.com/"> -->
                    <figure class="cc-effect">
                      <img src="assets/images/as.jpg" alt="Image" />
                      <figcaption>
                        <div class="h4">Elastic Community at GDG- Cloud Mumbai</div>
                        <p>Elastic Stack , Beats, Kibana, Logstash, NLP, ML</p>
                      </figcaption>
                    </figure>
                  <!-- </a> -->
                </div>
              </div>

            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>