<div class="section" id="projects">
  <div class="container cc-education">
    <div class="card" data-aos="fade-up" data-aos-offset="10">
      <div class="h4 text-center mb-4 title">Projects</div>
      <div class="row">
        <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
          <div class="blog-entry">
            <div class="">
              <img class="card-img-top" src="assets/images/stock.png" alt="Card image" style="width:100%">
              <div class="card-body">
                <h4 class="card-title">StocksApp: Realtime updates</h4>
                <p class="mb-5"><b>Technology :</b> Angular 8, Chartjs, Nebular, Websocket, Rest-api </p>
                <a href="https://aagamdoshi.github.io/StocksApp/" class="btn btn-primary stretched-link ml-2 mr-5">Live
                  Demo</a>
                <a href="https://github.com/aagamdoshi/StocksApp" class="btn btn-primary stretched-link">Github Link</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
          <div class="blog-entry">
            <div class="">
              <img class="card-img-top" src="assets/images/bmt.png" alt="Card image" style="width:100%">
              <div class="card-body">
                <h4 class="card-title">BookMyTicket: Ng-RxJS Demo</h4>
                <p class="mb-5"><b>Technology :</b> Angular 8, Chartjs, Nebular, Websocket, Rest-api 
                </p>
                <a href="https://aagamdoshi.github.io/PublishTest/"
                  class="btn btn-primary stretched-link ml-2 mr-5">Live Demo</a>
                <a href="https://github.com/aagamdoshi/ng6-BookTicket/tree/master/Angular6Project"
                  class="btn btn-primary stretched-link">Github Link</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
          <div class="blog-entry">
            <div class="">
              <img class="card-img-top" src="assets/images/open.PNG" alt="Card image" style="width:100%">
              <div class="card-body">
                <h4 class="card-title">OpenWeatherMap: API</h4>
                <p><b>Technology :</b> C#, Nunit-tests, IoC, Dependency Injection Principle,
                  Openweathermap-api, 
                  Newtonsoft-json, Rest-api </p>
                <a title="Warning!!! Not deployed" href="https://github.com/aagamdoshi/WeatherAPI-PrudUK"
                  class="btn ml-2 mr-5">Live Demo</a>
                <a href="https://github.com/aagamdoshi/WeatherAPI-PrudUK"
                  class="btn btn-primary stretched-link">Github Link</a>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>